[submodule "react-basic-project"]
	path = react-basic-project
	url = git@github.com:restX98/react-basic-project.git
[submodule "react-airbnb-clone"]
	path = react-airbnb-clone
	url = git@github.com:restX98/react-airbnb-clone.git
[submodule "react-meme-generator"]
	path = react-meme-generator
	url = git@github.com:restX98/react-meme-generator.git
